html {
  background-color: #CCFFFF;
}       

body {
  font-family: Helvetica, Arial, Sans Serif;
}

/* Framework */
#full-page-container {
  width: 100%;
  background-color: #CCFFFF;
  position: absolute;
  top: 0;
  left: 0; 
  
  #content-container, #header, #content {
    width: 972px;
    margin: 0 auto;
    
    #header { 
		  background: green;
		  height: 100px; 
	  }
     
 		#content #sidebar, #content #main {
			float: left; 
			position: relative
		}
		
    #content {
      #sidebar { 
        background: pink;
        width: 100px;
				height: 100px;
		  }
      #main { 
			  background: white;
			  width: 872px; 
			}
		}  

	}
 
  .clearer { clear: both }
} 


/* See all events */  

@mixin rounded-event-row {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.event-row {
  background: white; 

  .rounded-rect-outer {
    background: #333;
    padding: 5px; 
    margin: 8px;
    @include rounded-event-row;
    
    .rounded-rect-inner {
      @include rounded-event-row;
      background: white;
      padding: 5px;
    }   
     
    .column {
      float: left;
    }

    .info-column {
      width: 600px;

      .album-image {
        width: 50px;
        height: 50px;
        float: left;
        
        img {
          width: 50px;
          height: 50px;
        }
      }     
      
      .artists {
        float: left;
        padding: 0 10px;
        width: 525px;
         
        .artist-name {
          font-size: 18px;
          font-weight: bold; 
        }
           
        .venue, .date {
          font-size: 11px; 
        }
        
        .venue {
          font-weight: bold;  
        }                

        .date {
          color: #666;
        }  
        


      }
    } 
    .vote-column {
      width: 100px;
    }
    .attendance-column {
      width: 100px;
    }
  }              
  

}